.user-form {
  width: 400px;
  color:#F8EaD7;
  border-radius: 7px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight:bold;
}

.user-form__header {
  text-align: center;
  position: relative;
}

.user-form__header::after {
  position: absolute;
  content:" ";
  background:#202024;
  bottom:-11px;
  left:-20px;
  right:-20px;
  height:5px;
}

.purple-background {
  background:#303038;
}

input {
  flex-grow: 0;
  border-radius:7px;
  border:0;
  padding:8px;
  margin-top:5px;
  font-size:1em;
  font-weight:bold;
}

input[type="text"] {
  font-size: 20px;
  display: block;
}

input[type="color"] {
  width:100%;
  height:45px;
  border:0;
  padding:0;
  border-radius:7px !important;
  overflow:hidden;
  -webkit-appearance: none;
}

::-moz-color-swatch {
  border: none;
}

.user-form .space {
  height:20px;
}